button {
  width: 210px;
  height: 56px;
  background: #394BEB;
  border-radius: 8px;
  outline: none;
  border: none;
  cursor: pointer;

  color: #FFFFFF;
  font-family: Nunito, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}
