.user-card{
  border-radius: 20px;
  max-width: 25rem;
  min-width: 18rem;
  max-height: 25rem;
  text-align: center;
  padding: 2rem 1rem 2rem ;
  margin-right: 5rem;
  margin-bottom: 5rem;
  font-family: MuseoModerno, serif;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
  }
  &__information{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  span{
    font-size: 1.5rem;
    margin-bottom: .5rem;
  }
}
