.error{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-family: MuseoModerno, serif;
  z-index: 100;
}